:root {
    --main-color: #eeeeee
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: var(--main-color);
}

body {
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgb(8, 57, 53));
    /*filter: blur(20px);*/
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.hFull {
    height: 100vh;
}
